@import "tailwindcss";

@theme {
  --color-primary: #f20d0d;
  --color-background-light: #f0f2f5;
  --color-background-dark: #221010;
  --color-charcoal: #333333;
  --font-display: 'Inter', ui-sans-serif, system-ui, sans-serif;
  --font-sans: 'Inter', ui-sans-serif, system-ui, sans-serif;
}

@layer base {
  html {
    font-size: 16px;
  }
  
  body {
    @apply bg-background-light text-slate-900 font-sans antialiased;
  }

  .material-symbols-outlined {
    font-variation-settings: 'FILL' 0, 'wght' 400, 'GRAD' 0, 'opsz' 24;
  }
}

@layer utilities {
  .product-card:hover .cart-button {
    opacity: 1;
    transform: translateY(0);
  }
  .hide-scrollbar::-webkit-scrollbar { 
    display: none; 
  }
  .hide-scrollbar { 
    -ms-overflow-style: none; 
    scrollbar-width: none; 
  }
}
